
@import url(/CSS/layout.css);


.areachamados{
    display:flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.containeresquerda input{
    width: 70%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 17px;
    color: #32324f;
    background-color: #ecf2f7;
    border-radius: 5px;
    
}
.containeresquerda select{
    width: 70%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 17px;
    color: #32324f;
    background-color: #ecf2f7;
    border-radius: 5px;
}


.containermeio input #classificacao, #data{
    width: 70%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 17px;
    color: #32324f;
    background-color: #ecf2f7;
    border-radius: 5px;
}

.containermeio select{
    width: 70%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 17px;
    color: #32324f;
    background-color: #ecf2f7;
    border-radius: 5px;
}

.containerdireita #detalheoproblema{
    width: 70%;
    padding: 10px;
    outline: none;
    border: none;
    font-size: 17px;
    color: #32324f;
    background-color: #ecf2f7;
    border-radius: 5px;
}
.conteudo{
    display:block;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 420px;

}

p{
    font-size: 16px;
    margin-bottom: 5px;
    text-transform:uppercase;
    color:#32324f;
    font-weight: bolder;
    margin-top:15px;
}

.conteudo input[type=submit]{
    background-color: #4aa4ee;
    color: #fff;
    width: 35%;
    cursor: pointer;
    transition: 0.3s;
    padding: 7px;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 13px;
    border-radius: 5px;
}
.conteudo input[type=submit]:hover{
    background-color: #3286ca;
}

.conteudo button{
    background-color: #ee4a4a;
    color: #fff;
    width: 35%;
    cursor: pointer;
    transition: 0.3s;
    padding: 7px;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 13px;
    border-radius: 5px;
}
.conteudo button:hover{
    background-color: #ca3732;
}