@import url(/static/CSS/layout.css);


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 5%;
  }
  
  td, th {
    border: 1px solid #a7a6a6;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }