<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentos</title>
    <link rel="stylesheet" href="/static/CSS/documentos.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="shortcut icon" href="/static/img/martelo.png" type="image/x-icon">
</head>
<body>
    <div class="ContainerPrincipal">
        <header class="cabecario">
            <img class="logo" src="/static/img/martelo.png" alt="logo">
            <h4 id="operador">Requisitante</h4>
        </header>

        <div class="principal">

            <div class="menu">
                <a id="home" href="/layout">
                    <span id="home" class="material-symbols-outlined">home</span>
                </a>

                <a id="adicionar" href="/chamados">
                    <span class="material-symbols-outlined">add_circle</span>
                </a>

                <a id="documentos" href="/relatorio">
                    <span class="material-symbols-outlined">folder</span>
                </a>

                <a id="sair" href="/sair">
                    <span class="material-symbols-outlined">logout</span>
                </a>
            </div>

            <div class="areatabela">
                    <div class="containertabela">
                            <div class="conteudotabela">
                                <table>
                                    <tr>
                                      <th>Nº do Chamado</th>
                                      <th>Equipamento</th>
                                      <th>Identificação</th>
                                      <th>Local</th>
                                      <th>Data do problema</th>
                                      <th>Classificação</th>
                                      <th>Criticabilidade</th>
                                      <th>Detalhes</th>
                                    </tr>
                                    <tr>
                                      <td>PO1234</td>
                                      <td>Câmera</td>
                                      <td>192.168.144.123</td>
                                      <td>Pintura</td>
                                      <td>20/05/2024</td>
                                      <td>Manutenção preventiva</td>
                                      <td>Baixo</td>
                                      <td>Câmera com lente embaçada</td>
                                    </tr>
                                    <tr>
                                        <td>PO1234</td>
                                        <td>Câmera</td>
                                        <td>192.168.144.123</td>
                                        <td>Pintura</td>
                                        <td>20/05/2024</td>
                                        <td>Manutenção preventiva</td>
                                        <td>Baixo</td>
                                        <td>Câmera com lente embaçada</td>
                                      </tr>
                                      <tr>
                                        <td>PO1234</td>
                                        <td>Câmera</td>
                                        <td>192.168.144.123</td>
                                        <td>Pintura</td>
                                        <td>20/05/2024</td>
                                        <td>Manutenção preventiva</td>
                                        <td>Baixo</td>
                                        <td>Câmera com lente embaçada</td>
                                      </tr>
                                      <tr>
                                        <td>PO1234</td>
                                        <td>Câmera</td>
                                        <td>192.168.144.123</td>
                                        <td>Pintura</td>
                                        <td>20/05/2024</td>
                                        <td>Manutenção preventiva</td>
                                        <td>Baixo</td>
                                        <td>Câmera com lente embaçada</td>
                                      </tr>
                                  </table>
                            </div>
                    </div>

            </div>

        </div>
        <footer>
            <h6>&copy; 2024 - Projeto Integrador - UNIVESP</h6>
        </footer>
    </div>
    
</body>
</html>