<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecione o tipo</title>
    <link rel="stylesheet" href="/static/CSS/inicio.css">
    <link rel="shortcut icon" href="/static/img/martelo.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Selecione uma opção abaixo:</h1>
        <p>Requisitante</p>
        <button class="botao">
            <a href="/loginrequisitante">Selecionar</a>
        </button>
        <p>Operador</p>
        <button class="botao">
                <a href="/loginoperador">Selecionar</a>
        </button>
    </div>
</body>
</html>