<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/CSS/requisitante.css">
    <link rel="shortcut icon" href="/static/img/martelo.png" type="image/x-icon">
</head>
<body>
    <div class="container-login">
        <div class="image-box">
            <img src="/static/img/requisitante.jpg" alt="Homem trabalhando">
        </div>
        <div class="content-box">
            <div class="form-box">
                <h2>Login Requisitante</h2>
                <form action="acessorequisitante" method="post">
                    {% set mensagens = get_flashed_messages()   %}
                    {% if mensagens %}
                    <div id="alerta">
                        {{ mensagens[0] }}
                    </div>

                    {% endif %}

                    <div class="input-box">
                        <span>Usuário</span>
                        <input name="usuariorequisitante" type="text" placeholder="Usuário" required> 
                    </div>

                    <div class="input-box">
                        <span>Senha</span>
                        <input name="senharequisitante" type="password" placeholder="Senha" required> 
                    </div>

                    <div class="esqueceu-senha">
                        <a href="#">Esqueceu a Senha?</a>
                    </div>

                    <div class="input-box">
                        <input type="submit" value="Entrar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>